@font-face {
    font-family: 'digital-clock';
    src: url('../fonts/DIGITALDREAM.ttf');
}

.clock-digit {
    font-family: 'digital-clock';
    height: 30px;
    width: 100px;
    color: white;
    background-color: black;
    line-height: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
}