.switch {
    position: absolute;
    display: flex;
    flex-direction: row;
    .block {
        width: 50px;
        height: 15px;
        background-color: white;
    }
    .arm {
        width: 50px;
        height: 5px;
        background-color: white;
        border-right: 1px solid black;
        &.low {
            margin-top: 10px;
            background-color: red;
        }
        &.good {
            background-color: green;
        }
    }
    .work {
        width: 30px;
        height: 30px;
        border: 3px solid black;
        margin-left: 10px;
        &.low {
            background-color: red;
        }
        &.good {
            background-color: green;
        }
    }
    .info {
        color: rgb(43, 193, 251);
        padding-top: 5px;
        margin-left: 10px;
    }
}