.paramsShow {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    .dot {
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 50%;
    }

    .line {
        width: 450px;
        height: 5px;
        background-color: black;
    }
    .manometers {
        display: flex;
        flex-direction: row;
        width: 640px;
        height: 420px;
        border: 3px solid black;
        color: rgb(43, 193, 251);
        &_temp {
            transform: scale(0.6);
            margin-left: -60px;
        }
        &_pres {
            transform: scale(0.6);
            margin-left: -100px;
        }
    }
}