.tank {
    .cauldron {
        width: 300px;
        height: 440px;
        background: rgb(254, 243, 234);
        background: linear-gradient(139deg, rgba(254, 243, 234, 1) 0%, rgba(145, 144, 132, 1) 54%, rgba(78, 79, 76, 1) 100%);
        border-radius: 140px 140px 0 0;
    }
}